@charset 'utf-8';
.tag,
.faq,
.static-page,
.details{
    width: calc(100% - 40px);
    height: 100%;
    padding: 15px;
    border: 0;
    max-height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.search-left {
    float: left;
}

.search-right {
    float: right;
}

.table {
    height: 90vh;
    overflow-y: auto;
    span {
        font-size: 14px;
    }
}

.text-center {
    width: 100%;
    text-align: center;
}

.border-block {
    width: auto;
    text-align: left;
    padding: 24px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    transition: .2s;
}